{% extends request.isXmlHttpRequest ? '@WebProfiler/Profiler/ajax_layout.html.twig' : '@WebProfiler/Profiler/layout.html.twig' %}

{% import _self as helper %}

{% block head %}
    {{ parent() }}

    <style>
        #collector-content .sf-toggle { cursor: pointer; position: relative; }
        #collector-content .sf-toggle-off .icon-close, .sf-toggle-on .icon-open { display: none; }
        #collector-content .sf-toggle-off .icon-open, .sf-toggle-on .icon-close { display: block; }
        #collector-content .trace-details { background: var(--base-0); border: var(--border); box-shadow: 0 0 1px rgba(128, 128, 128, .2); margin: 0 0 1em; table-layout: fixed; }
        #collector-content .trace { background: var(--base-0); padding: 10px; margin: 0.5em 0; overflow: auto; font-size: 12px; }
        #collector-content .trace-method { color: var(--highlight-keyword); font-weight: bold; }
        #collector-content .trace li { margin-bottom: 0; padding: 0; }
        #collector-content .trace li.selected { background: var(--trace-selected-background); margin-top: 2px; }
        #collector-content .trace + .trace { margin-top: 30px; }
        #collector-content .trace-line { position: relative; margin: 0; padding-top: 8px; padding-bottom: 8px; }
        #collector-content .trace-line + .trace-line { border-top: var(--border); }
        #collector-content .trace-line:hover { background: var(--base-1); }
        #collector-content .trace-line a { color: var(--base-6); }
        #collector-content .trace-line .icon { opacity: .4; position: absolute; left: 10px; }
        #collector-content .trace-line .icon svg { fill: var(--base-5); height: 16px; width: 16px; }
        #collector-content .trace-line-header { padding-left: 36px; padding-right: 10px; }
    </style>
{% endblock %}

{% block toolbar %}
    {% if collector.requestCount > 0 %}

        {% set icon %}
            {{ source('@MongoDB/Collector/mongodb.svg') }}

            <span class="sf-toolbar-value">{{ collector.requestCount }}</span>
            <span class="sf-toolbar-info-piece-additional-detail">
                <span class="sf-toolbar-label">in</span>
                <span class="sf-toolbar-value">{{ '%0.2f'|format(collector.time / 1000) }}</span>
                <span class="sf-toolbar-label">ms</span>
            </span>
        {% endset %}

        {% set text %}
            <div class="sf-toolbar-info-piece">
                <b>MongoDB Requests</b>
                <span class="sf-toolbar-status {{ collector.requestCount > 50 ? 'sf-toolbar-status-yellow' : '' }}">{{ collector.requestCount }}</span>
            </div>
            <div class="sf-toolbar-info-piece">
                <b>Total errors</b>
                <span class="sf-toolbar-status {{ collector.errorCount > 0 ? 'sf-toolbar-status-red' : '' }}">{{ collector.errorCount }}</span>
            </div>
            <div class="sf-toolbar-info-piece">
                <b>Request time</b>
                <span>{{ '%0.2f'|format(collector.time / 1000) }} ms</span>
            </div>
        {% endset %}


        {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: profiler_url, status: status|default('') }) }}
    {% endif %}
{% endblock %}

{% block menu %}
    <span class="label {{ collector.requestCount == 0 ? 'disabled' }}">
        <span class="icon">{{ include('@MongoDB/Collector/mongodb.svg') }}</span>
        <strong>MongoDB</strong>
        {% if collector.requestCount %}
        <span class="count">
            <span>{{ collector.requestCount }}</span>
        </span>
        {% endif %}
    </span>
{% endblock %}

{% block panel %}

<h2>Request Metrics</h2>

<div class="metrics">
    <div class="metric-group">
        <div class="metric">
            <span class="value">{{ collector.requestCount }}</span>
            <span class="label">Requests</span>
        </div>

        <div class="metric">
            <span class="value">{{ collector.errorCount }}</span>
            <span class="label">Errors</span>
        </div>

        <div class="metric">
            <span class="value">{{ '%0.2f'|format(collector.time / 1000) }} ms</span>
            <span class="label">Request time</span>
        </div>
    </div>
</div>

<div class="sf-tabs" style="margin-top: 20px;">
    <div class="tab {{ collector.requests is empty ? 'disabled' }}">
        <h3 class="tab-title">
            Requests
        </h3>

        <div class="tab-content">
            {% if collector.requests is empty %}
                <div class="empty">
                    <p>No executed requests.</p>
                </div>
            {% else %}
                {% for client, requests in collector.requests %}
                    {% if collector.clients|length > 1 %}
                        <h3>{{ client }} <small>client</small></h3>
                    {% endif %}

                    {% if requests is empty %}
                        <div class="empty">
                            <p>No database requests were performed.</p>
                        </div>
                    {% else %}
                        <table class="alt requests-table">
                            <thead>
                            <tr>
                                <th class="nowrap" onclick="javascript:sortTable(this, 0, 'requests-{{ loop.index }}')" data-sort-direction="-1" style="cursor: pointer;">#<span class="text-muted">&#9650;</span></th>
                                <th class="nowrap" onclick="javascript:sortTable(this, 1, 'requests-{{ loop.index }}')" style="cursor: pointer;">Time<span></span></th>
                                <th style="width: 100%;">Info</th>
                            </tr>
                            </thead>
                            <tbody id="requests-{{ loop.index }}">
                            {% for i, request in requests %}
                                <tr id="requestNo-{{ i }}-{{ loop.parent.loop.index }}">
                                    <td class="nowrap">{{ loop.index }}</td>
                                    <td class="nowrap">{{ '%0.2f'|format(request.durationMicros / 1000) }}&nbsp;ms</td>
                                    <td>
                                        {{ dump(request.command) }}

                                        <div class="text-small font-normal">
                                            <a href="#" class="sf-toggle link-inverse" data-toggle-selector="#formatted-command-{{ i }}-{{ loop.parent.loop.index }}" data-toggle-alt-content="Hide formatted command">View formatted command</a>

                                            {% if request.backtrace is defined %}
                                                &nbsp;&nbsp;
                                                <a href="#" class="sf-toggle link-inverse" data-toggle-selector="#backtrace-{{ i }}-{{ loop.parent.loop.index }}" data-toggle-alt-content="Hide command backtrace">View command backtrace</a>
                                            {% endif %}
                                        </div>

                                        <div id="formatted-command-{{ i }}-{{ loop.parent.loop.index }}" class="sql-runnable hidden">
                                            <pre style="white-space: pre-wrap">{{ request.command|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
                                            <button class="btn btn-sm label hidden" data-clipboard-text="{{ request.command|json_encode|e('html_attr') }}">Copy</button>
                                        </div>

                                        {% if request.backtrace is defined %}
                                            <div id="backtrace-{{ i }}-{{ loop.parent.loop.index }}" class="trace-details hidden">
                                                {% set firstUserCode = true %}
                                                {% for trace in request.backtrace %}
                                                    <div class="trace-line">
                                                        {% set display = false %}
                                                        {% if firstUserCode and trace.file is not empty and '/vendor/' not in trace.file and '/var/cache/' not in trace.file %}
                                                            {% set firstUserCode = false %}
                                                            {% set display = true %}
                                                        {% endif %}
                                                        <div class="trace-line-header break-long-words sf-toggle" data-toggle-selector="#trace-html-{{ i }}-{{ loop.index }}" data-toggle-initial="{{ display ? 'display' : 'hidden' }}">
                                                            <span class="icon icon-close">{{ source('@MongoDB/Collector/icon-minus-square.svg') }}</span>
                                                            <span class="icon icon-open">{{ source('@MongoDB/Collector/icon-plus-square.svg') }}</span>
                                                            <span class="block trace-file-path">
                                                                {% set line_number = trace.line|default(1) %}
                                                                    {% if trace.file is defined %}
                                                                    <a href="{{ trace.file|file_link(line_number) }}">
                                                                {% endif %}
                                                                        {{- trace.file|file_relative|default('n/a') -}}
                                                                {% if trace.file is defined %}
                                                                    </a>
                                                                {% endif %}
                                                                 -> <span class="trace-method">{{ trace.function }}</span>
                                                                (line {{ line_number }})
                                                            </span>
                                                        </div>
                                                        <div id="trace-html-{{ i }}-{{ loop.index }}" class="trace sf-toggle-content">
                                                            {{ trace.file|file_excerpt(trace.line)|replace({
                                                                '#DD0000': 'var(--highlight-string)',
                                                                '#007700': 'var(--highlight-keyword)',
                                                                '#0000BB': 'var(--highlight-default)',
                                                                '#FF8000': 'var(--highlight-comment)'
                                                            })|raw }}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="tab {{ collector.clients is empty ? 'disabled' }}">
        <h3 class="tab-title">
            Clients
            <span class="badge">{{ collector.clients|length }}</span>
        </h3>


        <div class="tab-content">
            {% if collector.clients is empty %}
                <div class="empty">
                    <p>No clients were used.</p>
                </div>
            {% endif %}
            {% for clientName, client in collector.clients %}
                <h3>Client <code>{{ clientName }}</code></h3>
                <table>
                    <thead>
                    <tr>
                        <th scope="col" class="key">Key</th>
                        <th scope="col">Value</th>
                    </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td class="key">Client Debug Info</td>
                            <td>{{ dump(client.clientInfo) }}</td>
                        </tr>
                        <tr>
                            <td class="key">Server Build Info</td>
                            <td>{{ dump(client.serverBuildInfo) }}</td>
                        </tr>
                    </tbody>
                </table>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
